# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Idea
.idea

# golang
pkg/
api/

# Temporary
T/
Tutorial/
/C/.gdb_history
/C/linux/Linux518
/C/tests/riscv
/Emulator/riscv

.gdb_history
trace.log
